body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rotate-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.rotate-message img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.rotate-message h1 {
    font-family: 'Sacramento', cursive;
    color: #FE7696;
    font-size: 2rem;
    margin: 0 10px;
}

.title {
    font-family: 'Sacramento', cursive;
    color: #FE7696;
    font-size: 2rem;
    margin-bottom: 20px;
}

.video-container {
    display: none;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
    .rotate-message h1 {
        font-size: 1.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}